@model AppMVCGrupo12.Models.Empleado

<body>
    <table>
        <tr>
            <td>
                Código
            </td>
            <td>
                Nombre
            </td>
            <td>
                Sueldo
            </td>
        </tr>
        @foreach (var item in ViewBag.modelo)
        {
            <tr>
                <td>@item.idEmpleado</td>
                <td>@item.nombreEmpleado</td>
                <td>@item.sueldoEmpleado</td>
            </tr>
        }

    </table>
</body>